@model IEnumerable<LocalBus.Models.Ponto>

  @{

  }

<div class="row">  
    <div class="col-md-9 map">  
        <div id="myMap" style="width:100%; height:610px;"></div>  
 </div>  


<script type='text/javascript'>  
    function loadMapScenario() {  
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {  
            credentials: 'AkclvbgfjdRI43pyQ7TM48Mx0Gz8LpXOJzYsm8-T3b7fFOt2n-GMm0USIPHg-YLu',  
            mapTypeId: Microsoft.Maps.MapTypeId.road,  
            zoom: 5  
        });  
  
        // Create the infobox for the pushpin  
        var infobox = null;  
  
        //declare addMarker function  
        function addMarker(latitude, longitude, Nome, description, pid)  
        {  
            var marker = new Microsoft.Maps.Pushpin(new Microsoft.Maps.Location(latitude, longitude), { color: 'green' });  
  
            infobox = new Microsoft.Maps.Infobox(marker.getLocation(), {  
                visible : true  
            });  
  
            marker.metadata = {  
                id: pid,  
                title: title,  
                description: description  
            };  
  
            Microsoft.Maps.Events.addHandler(marker, 'mouseout', hideInfobox);  
            Microsoft.Maps.Events.addHandler(marker, 'mouseover', showInfobox);  
  
            infobox.setMap(map);  
            map.entities.push(marker);  
            marker.setOptions({ enableHoverStyle: true });  
        };  
  
        function showInfobox(e) {  
            if (e.target.metadata) {  
                infobox.setOptions({  
                    location: e.target.getLocation(),  
                    title: e.target.metadata.title,  
                    description: e.target.metadata.description,  
                    visible: true  
                });  
            }  
        }  
  
        function hideInfobox(e) {  
            infobox.setOptions({ visible: false });  
        }  

        
           //adiciona marcadores ao mapa  
        @if  (Model !=  null )  
        {  
            foreach ( var  item  in  Model)  
            {  
                @:addMarker(@item.latitudePonto, @item.LongitudePonto,  '@item.Nome' ,  '@item.DescriçãoPonto' , @item.PontoId);  
            }  
        }  
    }  
   
    
</script>  
<script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?branch=release&callback=loadMapScenario' async defer></script>  
  

  

