@model IEnumerable<LocalBus.Models.Ponto>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.latitudePonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongitudePonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AtivoPonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriçãoPonto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.latitudePonto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudePonto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AtivoPonto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriçãoPonto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PontoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PontoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PontoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
