@model LocalBus.Models.Ponto

<h3 class="text-center">Tem certeza que deseja excluir o ponto?</h3>
<div class="text-center" >
    <br />
    <h4>Ponto a ser excluido</h4>
    <br />
    <dl class="row">
        <dt class = "">
            @Html.DisplayNameFor(model => model.latitudePonto)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.latitudePonto)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.LongitudePonto)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.LongitudePonto)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.AtivoPonto)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.AtivoPonto)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.DescriçãoPonto)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.DescriçãoPonto)
        </dd>
        <dt class = "">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "">
            @Html.DisplayFor(model => model.Nome)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PontoId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
