
<!DOCTYPE html>
@{
    var Teste = ViewBag.PontosAtivoConvertido;
    Console.WriteLine();
}
@model IEnumerable<EscolaPonto>

<div class="text-center">
    <h1>Pontos cadastrados da sua Escola</h1>

    <p>
        <a asp-action="Create" class="btn btn-info">Criar Novo Ponto</a>
    </p>
</div>
<div class="row">
    <div class="form-group col-md-6">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="~/js/mapa.js"></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=GetMap&key=AkclvbgfjdRI43pyQ7TM48Mx0Gz8LpXOJzYsm8-T3b7fFOt2n-GMm0USIPHg-YLu&setLang=pt&setMkt=PT-BR' async defer></script>
    <link rel="stylesheet" href="~/css/TableStyle.css" asp-append-version="true" />
</head>
<body onload="GetMap()">

    <div id="myMap" style="width:500px;height:450px; margin-left:100px"></div>
    <p> </p>


    <script>

        function GetMap() {
            let coordenadas = @Html.Raw(Json.Serialize(ViewData["PontoAtivo"]));


            var map = new Microsoft.Maps.Map('#myMap', { center: new Microsoft.Maps.Location(-22.489303078308875,-48.54630861383559), zoom: 13 });

            map.setView({
                mapTypeId: Microsoft.Maps.MapTypeId.aerial
            });

                for (var i = 0; i < coordenadas.length  ; i++) {
                     var pushpin = new Microsoft.Maps.Location(coordenadas[i]['ponto'].latitudePonto, coordenadas[i]['ponto'].longitudePonto)
                     var pushpin2 = new Microsoft.Maps.Pushpin(pushpin,{
                     })
                     map.entities.push(pushpin2);
                 }
        }
    </script>
</body>
</div>
 <div class="form-group col-md-6">
<h4 style="margin-left:910px">Seus Pontos</h4>

<div class="content">
    <table class="rTable">
        <thead>
            <tr>
                <th>
                    Nome
                </th>
                <th>
                   Descrição 
                </th>
                <th>
                    Ativo
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Ponto.Nome
                        </td>
                        <td>
                            @item.Ponto.DescriçãoPonto
                        </td>
                        <td>
                         @Html.DisplayFor(modelItem => item.Ponto.AtivoPonto)
                        </td>

                        <td>

                            <div class="">

                                <a asp-action="Edit" asp-route-id="@item.Ponto.PontoId">Editar</a>
                                <a asp-action="Delete" asp-route-id="@item.Ponto.PontoId">Deletar</a>
                            </div>
                        </td>

                    </tr>
                }
            }

        </tbody>
    </table>
    </div>
    </div>
    </div>